@page "/"
@attribute [StreamRendering]
@inject HttpClient _http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@* @if (MainStorage1.MainStorages1 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Номер Склада</th>
                <th>Номер Площадки</th>
                <th>Номер Пикета</th>
                <th>Груз на площадке (т)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var storages in )
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
} *@

@code {

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(500);
    

    }
    


   

}
